.dashboard.container
  %br
  .main-content
    %table.table.table-bordered
      %thead
        %tr
          %th #
          %th Date
          %th EPOC Affectiv
          %th EPOC Raw Data

      %tbody
        -@braim_sessions.each_with_index do|braim_session,i|
          %tr
            %th{:scope => "row"}
              = i
            %td
              =braim_session.date
            %td
              =link_to "view", affectiv_braim_session_path(braim_session)
            %td
              =link_to "view",raw_braim_session_path(braim_session)

