.dashboard.container
  %br
  .main-content
    %table.table.table-bordered
      %thead
        %tr
          %th #
          %th Date
          %th Raw data
          %th Emotional data

      %tbody
        -@emo_sessions.each_with_index do|session,i|
          %tr
            %th{:scope => "row"}
              = i
            %td
              =session.date
            %td
              =link_to "view", affectiv_emo_session_path(session)
            %td
              =link_to "view",raw_emo_session_path(session)

